*.json
*.txt
*.asm
*.o
*.req
*.rsp
ref-fft
avx2_fft
neon-fft
neon-512/test_fpr
neon-512/test_log2
neon-512/test_sampler
neon-512/test_log1
ref-fpu-512/build/
neon-fpu-512/build/*
neon-fpu-512/test_common
